/*  基礎  */
/* -----------------------------------*/
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-weight: 400;
  font-family: 'Microsoft JhengHei';
  letter-spacing: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #026c6b;
}
body {
  margin: 0px;
  padding-top: 60px;
}
body.fixed {
  padding-top: 660px;
}
a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
::selection {
  background: #e0a257;
  color: #fff;
}
::-moz-selection {
  background: #e0a257;
  color: #fff;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
/* placeholder */
::-webkit-input-placeholder {
  color: #d5d5d5;
  font-weight: 100;
}
::-moz-placeholder {
  color: #d5d5d5;
  font-weight: 100;
}
:-ms-input-placeholder {
  color: #d5d5d5;
  font-weight: 100;
}
:-moz-placeholder {
  color: #d5d5d5;
  font-weight: 100;
}
blue {
  color: #5694e2;
  display: inline-block;
}
.opacity {
  opacity: 0;
}
m {
  display: none;
}
pc {
  display: block;
}
/*  通用  */
/* -----------------------------------*/
.header {
  background: #026c6b;
  background-size: 100% 100%;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
}
.header .logo {
  background: url('../images/logo.png') no-repeat;
  background-size: 128px 36px;
  background-position: left center;
  display: inline-block;
  width: 170px;
  height: 60px;
  float: left;
  margin-left: 20px;
}
.header .nav {
  height: 60px;
  float: left;
}
.header .nav li {
  float: left;
  color: #FFF;
  cursor: pointer;
  width: 170px;
  line-height: 60px;
  height: 60px;
  list-style: none;
  text-align: center;
  font-weight: 700;
}
.header .nav li:hover {
  background-color: #196b68;
}
.header .nav li.active {
  background-color: #2c7272;
}
.header .social {
  height: 60px;
  position: absolute;
  right: 0px;
}
.header .social li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  height: 60px;
  width: 55px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
.header .social li.woman {
  background-image: url('../images/woman.png');
  background-size: contain;
  width: 110px;
  margin-right: 10px;
}
.header .social li.woman:hover {
  background-image: url('../images/woman_hover.png');
}
.header .social li.menu_block {
  background-image: url('../images/menu_block.png');
}
.header .social li.menu_block:hover {
  background-image: url('../images/menu_block_hover.png');
}
.header .social li.fb {
  background-image: url('../images/fb.png');
}
.header .social li.fb:hover {
  background-image: url('../images/fb_hover.png');
}
.header .social li.line {
  background-image: url('../images/line.png');
}
.header .social li.line:hover {
  background-image: url('../images/line_hover.png');
}
.header .social li.home {
  background-image: url('../images/home.png');
  display: none;
}
.header .social li.menu {
  background-image: url('../images/menu.png');
  background-size: 25px 25px;
  display: none;
}
.header .social li.menu.open {
  background-image: url('../images/cancel.png');
}
.menuwrap {
  position: fixed;
  background-color: #FFF;
  width: 100%;
  height: 60%;
  top: -100%;
  left: 0px;
  z-index: 4;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menuwrap.open {
  top: 60px;
}
.menuwrap li {
  height: 33%;
  position: relative;
  list-style: none;
  border-bottom: solid 2px #EFEFEF;
}
.menuwrap li img {
  position: absolute;
  bottom: 0;
  height: 70%;
  left: 10%;
}
.menuwrap li .wrap {
  text-align: center;
  height: 44%;
  top: 35%;
  position: absolute;
  right: 5%;
  display: inline-block;
}
.menuwrap li .wrap .title01 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.menuwrap li .wrap .title02 {
  font-size: 17px;
  font-weight: bold;
}
.menuwrap li[data-section="family"] .title01 {
  color: #FAB513;
}
.menuwrap li[data-section="worker"] .title01 {
  color: #FF8094;
}
.menuwrap li[data-section="lady"] .title01 {
  color: #74BBDA;
}
.menuwrap.block {
  position: absolute;
  width: 375px;
  height: 144px;
  left: auto;
  right: 115px;
  top: 60px;
  opacity: 0;
  display: none;
}
.menuwrap.block.open {
  opacity: 1;
  display: block;
}
.menuwrap.block li {
  height: 144px;
  border-bottom: none;
}
.menuwrap.block li img {
  position: absolute;
  left: 0;
}
.menuwrap.block li .wrap {
  left: 38%;
  right: auto;
  top: 33%;
  width: 60%;
}
.menuwrap.block li .title01 {
  color: #FFF;
}
.menuwrap.block li .title02 {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
.menuwrap.block li::after {
  position: absolute;
  left: 0;
  width: 375px;
  height: 144px;
  background: none;
  content: "";
}
.menuwrap.block li:hover::after {
  background: rgba(255, 255, 255, 0.2);
}
.menuwrap.block a {
  display: block;
}
.menuwrap.block a[data-section="q1"] {
  background-color: #FF8094;
}
.menuwrap.block a[data-section="q2"] {
  background-color: #6CB7E9;
}
.menuwrap_cancel {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
  top: 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menuwrap_cancel.open {
  opacity: 0.6;
  z-index: 3;
}
footer {
  height: 50px;
  position: relative;
  width: 100%;
  background: #026c6b;
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
  color: #FFF;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  max-width: 1200px;
}
/*  page  */
/* -----------------------------------*/
/* index-main */
section.index-main {
  height: 600px;
  height: calc(100vh - 110px);
  width: 100%;
  position: relative;
}
section.index-main .title-image {
  position: absolute;
  top: 5%;
  left: 25%;
  background-size: auto 100%;
  height: 20%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  text-align: center;
}
section.index-main .title-image img {
  height: 100%;
}
section.index-main .film {
  width: 100px;
  height: 90px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/index/btn-film.png");
  cursor: pointer;
  z-index: 3;
}
section.index-main li {
  float: left;
  height: 100%;
  width: 33.33%;
  list-style: none;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom 30%;
  position: relative;
}
section.index-main li[data-section="family"] {
  background-color: #bad8f1;
  background-image: url("../images/index/kv01.png");
}
section.index-main li[data-section="worker"] {
  background-color: #f8f4e2;
  background-image: url("../images/index/kv02.png");
}
section.index-main li[data-section="lady"] {
  background-color: #91beb0;
  background-image: url("../images/index/kv03.png");
}
section.index-main li .button {
  width: 100%;
  height: 0;
  position: relative;
  top: 28%;
  left: 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
section.index-main li .button img {
  width: 60%;
}
section.index-main li .text {
  top: 30%;
  position: absolute;
  font-size: 24px;
  text-align: center;
  width: 100%;
  line-height: 1.7;
  margin-top: 25px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
section.index-main li .hovercover {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
section.index-main li .hovercover.dark {
  opacity: 0.4;
}
/* index-main */
section.banner {
  height: 600px;
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  background-size: auto 100%;
  background-position: center;
  margin-top: 600px;
  background-repeat: no-repeat;
}
section.banner.fixed {
  position: fixed;
  z-index: 1;
  top: 60px;
  margin-top: 0px;
}
section.banner .dots {
  right: 50px;
  position: absolute;
  height: 100px;
  top: 50vh;
  margin-top: -110px;
}
section.banner .dots.left {
  right: auto;
  left: 50px;
}
section.banner .dots li {
  list-style: none;
  background-color: #FFF;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
section.banner .dots li.selected {
  background-color: #FFF;
}
section.banner .dots[data-type="family"] li {
  background-color: #86041A;
}
section.banner .dots[data-type="traveler"] li {
  background-color: #473637;
}
section.banner .dots[data-type="boss"] li {
  background-color: #8166cc;
}
section.banner .dots li.selected {
  background-color: #FFF;
}
section.banner .bubbles {
  position: absolute;
  right: 5%;
  width: 58vh;
  height: 58vh;
  top: 10vh;
  opacity: 0;
}
section.banner .bubbles li {
  list-style: none;
  background-size: cover;
  background-image: url("../images/bubble.png");
  position: absolute;
}
section.banner .bubbles li text {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
section.banner .bubbles li[n="1"] {
  width: 37%;
  height: 37%;
  left: 0px;
  display: none;
}
section.banner .bubbles li[n="1"] text {
  height: auto;
  display: block;
  top: 27%;
  position: absolute;
  font-size: 14px;
  font-size: 80%;
  margin-left: 12%;
  margin-right: 10%;
  line-height: 1.5;
  text-align: center;
}
section.banner .bubbles li[n="2"] {
  width: 70%;
  height: 70%;
  left: 19%;
  top: 15%;
  z-index: 1;
}
section.banner .bubbles li[n="2"] text {
  height: auto;
  display: block;
  top: 30%;
  position: absolute;
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 12%;
  margin-right: 12%;
  line-height: 1.5;
  text-align: center;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.banner .bubbles li[n="3"] {
  width: 37%;
  height: 37%;
  top: 70%;
  right: 3%;
  display: none;
}
section.banner .bubbles li[n="3"] text {
  height: auto;
  display: block;
  top: 30%;
  position: absolute;
  font-size: 13px;
  margin-left: 12%;
  margin-right: 10%;
  line-height: 1.5;
  text-align: center;
}
section.banner .bubbles.left {
  right: auto;
  left: 100px;
}
section.banner .bubbles.left li[n="1"] {
  left: auto;
  right: 0%;
}
section.banner .bubbles.left li[n="2"] {
  left: 11%;
}
section.banner .bubbles.left li[n="3"] {
  left: 3%;
  right: auto;
}
section.banner .bubbles.left li[n="3"] text {
  top: 30%;
}
body[page="startup"] section.banner {
  background-color: #bad8f1;
  background-image: url("../images/family/banner.png");
}
body[page="traveler"] section.banner {
  background-color: #f8f4e2;
  background-image: url("../images/worker/banner.png");
}
body[page="boss"] section.banner {
  background-color: #91beb0;
  background-image: url("../images/boss/banner.png");
}
section.intro {
  width: 100%;
  position: relative;
  background-color: #A3D4C3;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}
body[page="startup"] section.intro {
  background-image: url("../images/family/bg.png");
}
body[page="traveler"] section.intro {
  background-color: #D6D1A9;
  background-image: url("../images/worker/bg.png");
}
body[page="boss"] section.intro {
  background-color: #5AA8AD;
  background-image: url("../images/boss/bg.png");
}
/* alert */
section.alert .content {
  overflow: hidden;
  height: 0px;
  background-color: #FFF;
}
section.alert .fold {
  height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  line-height: 60px;
  cursor: pointer;
  background-color: #f6f6f6;
}
section.alert .fold img {
  margin-left: 18px;
}
section.alert .fee {
  min-height: 122px;
  background-color: #e8e8e8;
}
section.alert .fee .wrap {
  padding: 35px;
  padding-left: 80px;
  padding-right: 80px;
}
section.alert .fee .wrap:after {
  content: '';
  display: block;
  clear: both;
}
section.alert .fee .wrap .slogan {
  width: 291px;
  height: 50px;
  border: solid 1px #4a4a4a;
  font-size: 24px;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
  line-height: 50px;
  float: left;
}
section.alert .fee .wrap .text {
  width: calc(100% - 335px);
  margin-left: 20px;
  float: left;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 2px;
}
section.alert .title {
  max-width: 1000px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  color: #555;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
}
section.alert .words {
  font-size: 16px;
  font-weight: 300;
  color: #777;
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
  margin-bottom: 50px;
}
section.alert .words li {
  margin-bottom: 10px;
}
section.alert .words a {
  color: #5694e2;
  display: inline-block;
}
/* banner */
.banner {
  padding-top: 60px;
}
.banner .title_1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #303234;
  margin-bottom: 50px;
}
/* intro */
section.intro {
  padding-top: 560px;
}
section.intro .title_1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #303234;
  margin-bottom: 50px;
}
section.intro .title_2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  margin-top: 80px;
  margin-bottom: 21px;
}
section.intro .title_2.black {
  color: #000;
}
section.intro .title_3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 40px auto;
}
section.intro .wrap {
  width: 90%;
  position: relative;
  margin: auto;
}
section.intro .wrap .p3s[data-type="family"] {
  width: 65%;
  margin-left: 2%;
}
section.intro .wrap .p3s[data-type="traveler"] {
  width: 60%;
  margin-left: 5%;
}
section.intro .wrap .p3s[data-type="boss"] {
  width: 60%;
  margin-left: 5%;
}
section.intro .wrap .people {
  position: absolute;
  right: 0px;
}
section.intro .wrap .people[data-type="family"] {
  width: 35%;
}
section.intro .wrap .people[data-type="traveler"] {
  width: 22%;
  right: 5%;
}
section.intro .wrap .people[data-type="boss"] {
  width: 25%;
  right: 5%;
}
section.intro .wrap .note .notepaper {
  height: 550px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../images/notepaper.png");
  padding-top: 120px;
}
section.intro .wrap .note .notepaper .hash {
  display: none;
}
section.intro .wrap .note .notepaper[data-type="traveler"] {
  height: 500px;
}
section.intro .wrap .note .notepaper .dashed {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}
section.intro .wrap .note .notepaper .mynote {
  font-size: 28px;
  /*font-size: 2vw;*/
  text-align: center;
  color: #FAB513;
  height: 65px;
  line-height: 65px;
  line-height: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
}
section.intro .wrap .note .notepaper .mynote[data-type="traveler"] {
  color: #74BBDA;
}
section.intro .wrap .note .notepaper .mynote[data-type="boss"] {
  color: #74BBDA;
}
section.intro .wrap .note .notepaper .each {
  float: left;
  width: 33.33%;
}
section.intro .wrap .note .notepaper .each .subname {
  color: #ff7489;
  height: 47px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
section.intro .wrap .note .notepaper .each .subname[data-type="family"] {
  color: #ff7489;
}
section.intro .wrap .note .notepaper .each .subname[data-type="traveler"] {
  color: #f07442;
}
section.intro .wrap .note .notepaper .each .subname[data-type="boss"] {
  color: #6c70bf;
}
section.intro .wrap .note .notepaper .each ol {
  list-style: none;
}
section.intro .wrap .note .notepaper .each ol li {
  font-size: 22px;
  margin-left: 15px;
  margin-right: 35px;
  position: relative;
  margin-bottom: 18px;
  line-height: 1.5;
}
section.intro .wrap .note .notepaper .each ol bullet {
  position: absolute;
  left: -20px;
  color: #ff7489;
  font-size: 15px;
  line-height: 28px;
}
section.intro .wrap .note .notepaper ol {
  width: 70%;
  margin: 0 auto;
  list-style: none;
  -webkit-padding-start: 0;
}
section.intro .wrap .note .notepaper ol li {
  display: flex;
  border-bottom: solid 1px #E0E0E0;
  width: 100%;
}
section.intro .wrap .note .notepaper ol li img {
  height: 40px;
  padding: 10px;
}
section.intro .wrap .note .notepaper ol li span {
  line-height: 60px;
  width: 70%;
  color: #fff;
}
section.intro .wrap .note .notepaper ol li a {
  text-decoration: underline;
  width: 30%;
  color: #fff;
}
section.intro .wrap .gobutton {
  width: 210px;
  margin: auto;
  display: block;
  cursor: pointer;
}
section.intro .wrap .action {
  display: block;
  background: #ff7273;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
  text-align: center;
  color: #FFF;
  box-shadow: 5px 5px #cbcfcf;
  margin: 0 auto;
}
.totop {
  position: fixed;
  bottom: 75px;
  right: 25px;
  cursor: pointer;
  z-index: 1;
}
/* videos */
.videos_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
}
.videos_wrap .videos {
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  position: absolute;
  background-color: #000;
}
.videos_wrap .videos_cancel {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  cursor: pointer;
}
/* Animation */
.bounceIn {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.bounceIn2 {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.bounceIn3 {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*pulse*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*smallpulse*/
.smallpulse {
  -webkit-animation-name: smallpulse;
  animation-name: smallpulse;
}
@-webkit-keyframes smallpulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes smallpulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*  RWD  */
/* -----------------------------------*/
@media screen and (max-width: 2680px) {
  section.intro {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1680px) {
  section.intro {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1366px) {
  section.intro {
    background-size: 130% auto;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  section.intro .wrap .note .notepaper .each .subname {
    font-size: 24px;
    margin-top: 5px;
    height: 35px;
  }
  section.intro .wrap .note .notepaper .each ol li {
    font-size: 17px;
    margin-left: 8px;
    margin-right: 30px;
  }
  .header .nav li {
    width: 140px;
  }
}
@media screen and (max-width: 1024px) {
  /* notebook & ipad pro */
  /* header */
  .header .social {
    right: 10px;
  }
  .header .social li {
    background-size: 30px 30px;
    width: 35px;
  }
  .header .nav {
    display: none;
  }
  m {
    display: none;
  }
  pc {
    display: inline-block;
  }
  pc img {
    width: 100%;
  }
  .header .social li.menu {
    display: inline-block;
  }
  .header .social li.home {
    display: inline-block;
  }
  /* menuwrap */
  .menuwrap li .wrap {
    top: 40%;
    right: 20%;
  }
  .menuwrap li .wrap .title01 {
    font-size: 3rem;
  }
  .menuwrap li .wrap .title02 {
    font-size: 1.5rem;
  }
  .menuwrap.block li .wrap .title01 {
    font-size: 2rem;
  }
  section.banner.fixed {
    margin-top: -60px;
  }
  section.banner .bubbles li[n="2"] text {
    font-size: 2rem;
  }
  .banner .title_1 {
    width: 80%;
    font-size: 1.8rem;
    margin: 60px auto 0;
  }
  section.index-main {
    height: calc(100vh - 130px);
  }
  /* index */
  body[rotate="false"] section.index-main {
    height: auto;
  }
  body[rotate="false"] section.index-main .title-image {
    top: 0;
    left: 0;
    height: calc(25vh - 60px);
    width: 100%;
    position: relative;
    background-color: #026c6b;
    background-image: url('../images/index/m-title-image-bg.png');
    background-size: auto 100%;
    background-position: center top 6px;
  }
  body[rotate="false"] section.index-main .title-image img {
    width: auto;
    height: 70%;
    margin-top: 5%;
  }
  body[rotate="false"] section.index-main li {
    float: none;
    height: 25vh;
    width: 100%;
  }
  body[rotate="false"] section.index-main li[data-section="family"] {
    background-image: url('../images/index/kv01-m.png');
  }
  body[rotate="false"] section.index-main li[data-section="worker"] {
    background-image: url('../images/index/kv02-m.png');
  }
  body[rotate="false"] section.index-main li[data-section="lady"] {
    background-image: url('../images/index/kv03-m.png');
  }
  body[rotate="false"] section.index-main li .button img {
    width: auto;
    margin-left: 30%;
    height: 16vh;
  }
  body[rotate="false"] section.index-main li .button {
    width: auto;
    height: auto;
    position: relative;
    top: 6vh;
    left: 0;
    text-align: center;
  }
  body[rotate="false"] section.index-main .film {
    width: 72px;
    height: 51px;
    width: 15vw;
    height: 15vw;
    right: 20px;
    top: auto;
    bottom: 1vh;
    cursor: pointer;
    z-index: 3;
    background-size: contain;
  }
  section.intro {
    padding-top: 100px;
  }
  section.intro .wrap .note .notepaper {
    font-size: 14px;
  }
  section.intro .wrap .note .notepaper ol li img {
    max-width: 85%;
    height: auto;
  }
  section.intro .title_3 {
    font-size: 16px;
  }
  /* banner */
  /* index */
  body[rotate="false"] section.banner .bubbles li[n="1"] {
    display: none;
  }
  body[rotate="false"] section.banner .bubbles li[n="2"] {
    width: 55vw;
    height: 55vw;
    left: 25vw;
    top: 5%;
    z-index: 1;
  }
  body[rotate="false"] .header .nav li {
    width: 150px;
  }
  body[rotate="false"] section.banner .bubbles li[n="3"] {
    display: none;
  }
  body[rotate="false"] .totop {
    display: none;
  }
  body[rotate="false"] section.banner .bubbles {
    right: 0;
    width: 100vw;
    height: 100vw;
    top: 0;
  }
  body[rotate="false"] section.banner .bubbles.left li[n="2"] {
    width: 60vw;
    height: 60vw;
    left: 20vw;
    top: 5%;
  }
  body[rotate="false"] section.banner .bubbles.left {
    right: auto;
    left: 0;
  }
  body[rotate="false"] section.banner .bubbles li[n="2"] text {
    top: 30%;
    font-size: 4vw;
  }
  body[rotate="false"] body[page=startup] section.banner {
    background-image: url("../images/family/banner_m.png");
  }
  body[rotate="false"] body[page=traveler] section.banner {
    background-image: url("../images/worker/banner_m.png");
  }
  body[rotate="false"] body[page=boss] section.banner {
    background-image: url("../images/boss/banner_m.png");
  }
  body[rotate="false"] section.banner .dots {
    right: 5vw;
  }
  body[rotate="false"] section.banner .dots li {
    width: 20px;
    height: 20px;
    border: none;
  }
  body[rotate="true"] section.alert .fee .wrap .text {
    margin-top: -2vw;
  }
  .videos_wrap .videos {
    width: 100%;
    height: 40%;
    top: 30%;
    left: 0%;
  }
  body[rotate="true"].videos_wrap .videos {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  /* ipad */
  m {
    display: inline-block;
  }
  pc {
    display: none;
  }
  .container {
    max-width: 760px;
  }
  .menuwrap li .wrap {
    right: 5%;
  }
  .menuwrap li .wrap .title01 {
    font-size: 2rem;
  }
  .menuwrap.block {
    right: -4px;
    width: 100vw;
  }
  .menuwrap.block li {
    max-width: 600px;
    margin: 0 auto;
  }
  .menuwrap.block li .wrap .title01 {
    font-size: 1.6rem;
  }
  .banner .title_1 {
    font-size: 2rem;
    margin: 160px auto 0;
  }
  /* index */
  body[rotate="false"] {
    /* banner */
  }
  body[rotate="false"] section.index-main {
    height: auto;
    margin-top: -30px;
  }
  body[rotate="false"] section.index-main .title-image {
    top: 60px;
    left: 0;
    height: calc(25vh - 30px);
    width: 100%;
    position: relative;
    background-image: url('../images/index/m-title-image-bg.png');
    background-color: transparent;
    background-size: cover;
    background-position: center top;
  }
  body[rotate="false"] section.index-main .title-image img {
    width: auto;
    margin-top: 0;
  }
  body[rotate="false"] section.index-main li {
    float: none;
    height: 25vh;
    width: 100%;
  }
  body[rotate="false"] section.index-main li[data-section="family"] {
    background-image: url('../images/index/kv01-m.png');
  }
  body[rotate="false"] section.index-main li[data-section="worker"] {
    background-image: url('../images/index/kv02-m.png');
  }
  body[rotate="false"] section.index-main li[data-section="lady"] {
    background-image: url('../images/index/kv03-m.png');
  }
  body[rotate="false"] section.index-main li .button img {
    width: auto;
    margin-left: 30%;
    height: 16vh;
  }
  body[rotate="false"] section.index-main li .button {
    width: auto;
    height: auto;
    position: relative;
    top: 6vh;
    left: 0;
    text-align: center;
  }
  body[rotate="false"] section.index-main .film {
    width: 72px;
    height: 51px;
    width: 15vw;
    height: 15vw;
    right: 20px;
    top: auto;
    bottom: 1vh;
    cursor: pointer;
    z-index: 3;
    background-size: contain;
  }
  body[rotate="false"][page=startup] section.banner {
    background-image: url('../images/family/banner_m.png');
  }
  body[rotate="false"][page=traveler] section.banner {
    background-image: url('../images/worker/banner_m.png');
  }
  body[rotate="false"][page=boss] section.banner {
    background-image: url('../images/boss/banner_m.png');
  }
  body[rotate="false"] section.banner .bubbles li[n="2"] text {
    font-size: 4vw;
  }
  /* page */
  body[rotate="true"] section.banner .bubbles li[n="2"] text {
    font-size: 2vw;
  }
  body[rotate="true"] section.banner .bubbles li[n="2"] {
    left: 0%;
  }
  body[rotate="true"] section.intro .wrap .note .notepaper .each ol li {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
  body[rotate="true"] section.alert .fee .wrap .slogan {
    width: 220px;
    height: 50px;
    border: solid 1px #4a4a4a;
    font-size: 19px;
    font-weight: 700;
    color: #4a4a4a;
    text-align: center;
    line-height: 50px;
    float: left;
  }
  body[rotate="true"] section.alert .fee .wrap .slogan:after {
    content: '';
    display: block;
    clear: both;
  }
  body[rotate="true"] section.alert .fee .wrap {
    padding: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
  body[rotate="true"] section.alert .fee .wrap .text {
    width: calc(100% - 250px);
    margin-left: 20px;
    margin-top: -2vw;
  }
  body[rotate="true"] section.alert .words {
    padding-left: 45px;
    padding-right: 20px;
  }
  body[rotate="true"] .menuwrap {
    height: calc(100% - 60px);
  }
  body[rotate="true"] .menuwrap li .wrap {
    top: 22%;
    right: 30%;
  }
  body[rotate="true"] .menuwrap li .wrap .title01 {
    font-size: 1.5rem;
  }
  body[rotate="true"] .menuwrap li .wrap .title02 {
    font-size: 1rem;
  }
  body[rotate="true"] .menuwrap li img {
    left: 30%;
  }
  /* intro */
  section.intro {
    padding-top: 100px;
  }
  section.intro .title_2 {
    font-size: 2rem;
  }
  section.intro .wrap .note .notepaper {
    height: 60vw;
    background-image: url("../images/notepaper_m.png");
    font-size: 16px;
    padding-top: 90px;
  }
  section.intro .wrap .note .notepaper .each {
    margin-top: 1.5vw;
  }
  section.intro .wrap .note .notepaper .mynote {
    font-size: 1.8rem;
    height: 5vw;
    line-height: 5vw;
  }
  section.intro .wrap .note .notepaper .each .subname {
    font-size: 1.2rem;
  }
  section.intro .wrap .note .notepaper ol {
    width: 440px;
  }
  section.intro .wrap .note .notepaper ol li img {
    width: 105px;
    max-width: 100%;
    height: auto;
  }
  section.intro .wrap .note .notepaper ol li span {
    line-height: 80px;
    width: 70%;
  }
  section.intro .wrap .note .notepaper ol li a {
    width: 30%;
  }
  section.intro .wrap .note .notepaper .each ol {
    margin-top: 0px;
  }
  section.intro .wrap .note .notepaper .each ol li {
    font-size: 0.9rem;
    margin-left: 0rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  body[page="family"] section.intro {
    background-image: none;
  }
  body[page="traveler"] section.intro {
    background-image: none;
  }
  body[page="boss"] section.intro {
    background-image: none;
  }
}
@media screen and (max-width: 576px) {
  /* phone*/
  .container {
    max-width: 540px;
  }
  .menuwrap li .wrap .title01 {
    font-size: 1.3rem;
  }
  .menuwrap li .wrap .title02 {
    font-size: 1.1rem;
  }
  .menuwrap.block {
    right: 0;
    width: 100%;
  }
  .menuwrap.block li .wrap .title01 {
    font-size: 1rem;
  }
  .banner .title_1 {
    font-size: 1.2rem;
    margin: 100px auto 0;
  }
  /* index */
  body[rotate="false"] section.index-main {
    margin-top: -30px;
  }
  body[rotate="false"] section.index-main .title-image {
    height: 120px;
    top: 50px;
    background-color: transparent;
    background-size: contain;
    background-position: center top;
  }
  body[rotate="false"] section.index-main .title-image img {
    margin-top: 0;
    height: 65px;
  }
  body[rotate="false"] section.index-main li {
    background-size: 115% auto;
  }
  body[rotate="false"] section.index-main li .button {
    top: 7vh;
  }
  body[rotate="false"] section.index-main li .button img {
    width: auto;
    margin-left: 40%;
    height: 18vh;
  }
  body[rotate="false"] section.index-main .film {
    width: 16vw;
    height: 16vw;
  }
  /* page */
  /*..................................*/
  body[rotate="false"] {
    /* banner */
  }
  body[rotate="false"][page=startup] section.banner {
    background-image: url('../images/family/banner_m.png');
  }
  body[rotate="false"][page=traveler] section.banner {
    background-image: url('../images/worker/banner_m.png');
  }
  body[rotate="false"][page=boss] section.banner {
    background-image: url('../images/boss/banner_m.png');
  }
  body[rotate="false"] section.banner .dots li {
    width: 10px;
    height: 10px;
    border: none;
  }
  body[rotate="false"] section.banner .bubbles li[n="2"] {
    width: 65%;
    height: 65%;
    left: 18.5%;
    top: 5%;
  }
  body[rotate="false"] section.banner .bubbles li[n="2"] text {
    font-size: 20px;
  }
  /* intro */
  section.intro {
    height: auto;
  }
  section.intro .wrap {
    width: 95%;
  }
  section.intro .wrap .note {
    width: 100%;
    margin: auto;
    position: relative;
  }
  section.intro .wrap .note .notepaper {
    padding-top: 55px;
    height: 476px;
    background-image: url(../images/notepaper_m.png);
  }
  section.intro .wrap .note .notepaper ol {
    width: 80%;
  }
  section.intro .wrap .note .notepaper ol li span {
    line-height: 30px;
    padding-top: 10px;
    width: 60%;
  }
  section.intro .wrap .note .notepaper ol li a {
    width: 40%;
  }
  section.intro .wrap .note .notepaper .each ol {
    margin-top: 15px;
  }
  section.intro .title_1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  section.intro .wrap .p3s[data-type=startup] {
    width: 100%;
    margin-left: 0%;
    position: relative;
  }
  section.intro .wrap .p3s[data-type=traveler] {
    width: 100%;
    margin-left: 0%;
    position: relative;
  }
  section.intro .wrap .p3s[data-type=boss] {
    width: 100%;
    margin-left: 0%;
    position: relative;
  }
  section.intro .wrap .people[data-type=startup] {
    width: 38%;
    top: 0;
    position: relative;
    margin-top: -10vh;
    left: 55vw;
  }
  section.intro .wrap .people[data-type=traveler] {
    width: 26%;
    top: 0;
    position: relative;
    margin-top: -10vh;
    left: 61vw;
  }
  section.intro .wrap .people[data-type=boss] {
    width: 30%;
    top: 0;
    position: relative;
    margin-top: -14vh;
    left: 61vw;
  }
  section.intro .wrap .note .notepaper .each {
    float: none;
    width: 100%;
  }
  section.intro .wrap .note .notepaper .each ol li {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 30px;
  }
  section.intro .wrap .note .btn_jump {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -50px;
    top: 70%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  section.intro .wrap .note .btn_jump.prev {
    left: -50px;
    background-image: url("../images/btn_prev.png");
  }
  section.intro .wrap .note .btn_jump.next {
    right: -50px;
    left: auto;
    background-image: url("../images/btn_next.png");
  }
  section.intro .wrap .note .notepaper .hash {
    display: block;
  }
  /* note 1 2 3 */
  body[device="m"] section.intro .wrap .note .notepaper[n="0"] .hash li[n="0"] {
    background-image: url('../images/notepaper_hash_active.png');
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="0"] .each[n="1"] {
    display: none;
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="0"] .each[n="2"] {
    display: none;
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="1"] .hash li[n="1"] {
    background-image: url('../images/notepaper_hash_active.png');
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="1"] .each[n="0"] {
    display: none;
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="1"] .each[n="2"] {
    display: none;
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="2"] .hash li[n="2"] {
    background-image: url('../images/notepaper_hash_active.png');
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="2"] .each[n="0"] {
    display: none;
  }
  body[device="m"] section.intro .wrap .note .notepaper[n="2"] .each[n="1"] {
    display: none;
  }
  section.intro .wrap .note .notepaper .hash {
    position: absolute;
    margin-left: -50px;
    width: 50px;
    min-height: 50px;
    z-index: 0;
    margin-top: 1vw;
    cursor: pointer;
  }
  section.intro .wrap .note .notepaper .hash li {
    list-style: none;
    background-image: url(../images/notepaper_hash.png);
    height: 55px;
    background-size: 55px;
    background-position: top right -10px;
    background-repeat: no-repeat;
    text-align: right;
  }
  section.intro .wrap .note .notepaper .hash li .icon {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
    border: 1px dashed #c9c9c9;
  }
  section.intro .wrap .note .notepaper .mynote {
    font-size: 1.6rem;
    height: 10vw;
    line-height: 15vw;
  }
  section.intro .wrap .note .notepaper .each .subname {
    font-size: 22px;
    height: 30px;
    margin-top: 10px;
  }
  section.intro .title_2 {
    font-size: 1.8rem;
    margin-top: 0px;
  }
  section.intro .title_3 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 60%;
    /* margin: auto; */
  }
  section.intro .wrap .gobutton {
    width: 85%;
  }
  section.alert .fee {
    height: auto;
  }
  section.alert .fee .wrap {
    padding: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
  section.alert .fee .wrap .slogan {
    width: 100%;
    float: none;
  }
  section.alert .fee .wrap .text {
    width: auto;
    margin-left: 0px;
    float: none;
    margin-top: 20px;
  }
  section.alert .title {
    padding-left: 20px;
    padding-right: 20px;
  }
  section.alert .words {
    font-size: 16px;
    padding-left: 45px;
    padding-right: 30px;
  }
  section.banner .bubbles.left {
    right: inherit;
    left: 0;
  }
  section.banner .bubbles.left li[n="2"] {
    left: 20%;
  }
  section.banner .dots.left {
    right: 20px;
    left: auto;
  }
}
@media screen and (max-width: 375px) {
  /* iphone6*/
  .banner .title_1 {
    font-size: 1rem;
  }
}
